name: "Build kernel"              
on:
  push:
    branches: main                                   
  workflow_dispatch:                                  
jobs:
  build:
    name: "Build kernel"
    runs-on: ubuntu-latest
    steps:
    - name: "Checkout kernel source"                  
      uses: actions/checkout@v2
    - name: "Checkout zipper"                         
      uses: actions/checkout@v2
      with:
        repository: lemniskett/AnyKernel3             
        path: zipper                                  
    - name: "Android kernel build"                    
      uses: lemniskett/android-kernel-actions@master
      with:
        arch: arm64                                   
        compiler: gcc/9                               
        defconfig: vince_defconfig                    
        image: Image.gz-dtb                           


